body {
    color: black;
    background-color:rgba(101, 148, 58, 0.747);
    font-family: fantasy;
    font-size: 1.1em;
    margin-top: 1em;
    margin-left:5%;
    margin-right: 5%;
    border: 7px white dotted;
    padding: 1em;
}

header {
    display: flex;
    height: 5em;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 2em;
    margin-right: 2em;
    border: white 2px solid;
}

div.menu {
    width: fit-content;
    font-size: xx-large;
    color: white;
}

p#titleofgallery {
    font-size: 2.5em;
    text-decoration: dotted underline;
    color: whitesmoke;
    text-align: center;
}
p#introtogallery {
    margin-top: 2em;
    text-align: center;
    color: whitesmoke;
    font-weight: 800;

}

img#may5lilies {
    width: 400px;
    border: 3px white solid;
    padding: .5em;
    background-color: rgba(216, 81, 110, 0.815);
    
}
div.imagecenter {
    text-align: center;
}
p#liliescap {
    margin-top: 1.5em;
    text-align: center;
    color: whitesmoke;
    font-weight: 800;
    font-size: large;
}
p#lilies {
     text-align: center;
     text-decoration: dotted underline darkolivegreen;
     font-size: xx-large;
     border-bottom: 2px whitesmoke;
     color: whitesmoke;
     font-weight: 800;
 }

img#may2cuc {
    width: 400px;
    border: 2px solid whitesmoke;
    padding: .5em;
    background-color: green;

}

p#break {
    font-size: 3em;
    text-align: center;
    color: darkolivegreen;
}
p#cucumber {
    text-align: center;
    font-size: xx-large;
    color: whitesmoke;
    font-weight: 800;
    text-decoration: darkolivegreen dotted underline;
}

p#cuccap {
    text-align: center;
    font-size: large;
    color: whitesmoke;
    font-weight: 800;
}

div.welcome {
    color: whitesmoke;
    text-align: center;
}

div.intro {
    color: whitesmoke;
    text-align: center;
}

div.p1 {
    color: whitesmoke;
    text-align: center;
}

p#yourgarden {
    font-size: 2.5em;
    text-decoration: dotted underline;
    color: whitesmoke;
    text-align: center;
}
p#yourgardenintro {
    color: whitesmoke;
    font-size: large;
    text-indent: 30px;
}

p#consider {
    color: whitesmoke;
    font-size: large;
}

ul {
    color: whitesmoke;
    font-size: large;
    
}
span.suppose {
    text-indent: 30px;
}

div.yourgardensections {
    color: whitesmoke;
    font-size: 2em;
    text-decoration: whitesmoke underline dotted;
}

p#listintro {
    color: whitesmoke;
}

ol {
    color: whitesmoke;
    
}

p#seedpackettext {
    color: whitesmoke;
    text-align: center;
}
img#seedpacket {
    width: 350px;
    border: 2px solid whitesmoke;
    padding: .5em;   
}
p {
    color: whitesmoke;
    text-indent: 30px;
}

div.ferts {
    width: 200px;
    border: 2px solid whitesmoke;
    padding: .5em;
    float: right;
    align-content: center;
}

img#shake {
    width: 100%;
}

img#stick {
    width: 100%;
}
div.journalheadings {
    color: whitesmoke;
    font-size: large;
    text-indent: 30px;
}

p#journal {
    color: whitesmoke;
    text-align: center;
    font-weight: 800;
    text-decoration: dotted underline;
    font-size: xx-large;
}

