body {
    color: black;
    background-color:rgba(89, 138, 43, 0.747);
    font-family: fantasy;
    font-size: 1.1em;
    margin-top: 1em;
    margin-left:5%;
    margin-right: 5%;
    border: 7px rgba(23, 113, 23, 0.687) dotted;
    padding: 1em;
    transition-duration: 2s;
}

header {
    display: flex;
    flex-wrap: wrap;
    font-size: medium;
    height: 5em;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 2em;
    margin-right: 2em;
    border: white 2px solid;
}

div.menu {
    width: fit-content;
    font-size: x-large;
    color: white;
    padding: .5%;
}

p#titleofgallery {
    font-size: 2.5em;
    text-decoration: dotted underline;
    color: whitesmoke;
    text-align: center;
}
p#introtogallery {
    margin-top: 2em;
    text-align: center;
    color: whitesmoke;
    font-weight: 800;

}

img#may5lilies {
    width: 400px;
    border: 3px white solid;
    padding: .5em;
    background-color: rgba(216, 81, 110, 0.815);
    
}
div.imagecenter {
    text-align: center;
}
p#liliescap {
    margin-top: 1.5em;
    text-align: center;
    color: whitesmoke;
    font-weight: 800;
    font-size: large;
}
p#lilies {
     text-align: center;
     margin-left: auto;
     margin-right: auto;
     text-decoration: dotted underline darkolivegreen;
     font-size: xx-large;
     border-bottom: 2px whitesmoke;
     color: whitesmoke;
     font-weight: 800;
 }

img#may2cuc {
    width: 400px;
    border: 2px solid whitesmoke;
    padding: .5em;
    background-color: green;

}

p#break {
    font-size: 3em;
    text-align: center;
    color: darkolivegreen;
}
p#cucumber {
    text-align: center;
    font-size: xx-large;
    color: whitesmoke;
    font-weight: 800;
    text-decoration: darkolivegreen dotted underline;
}

p#cuccap {
    text-align: center;
    font-size: large;
    color: whitesmoke;
    font-weight: 800;
}

div.welcome {
    color: whitesmoke;
    text-align: center;
}

div.intro {
    color: whitesmoke;
    text-align: center;
}

div.p1 {
    color: whitesmoke;
    text-align: center;
}

p#yourgarden {
    font-size: 2.5em;
    text-decoration: dotted underline;
    color: whitesmoke;
    text-align: center;
}
p#yourgardenintro {
    color: whitesmoke;
    font-size: large;
    text-indent: 30px;
}

p#consider {
    color: whitesmoke;
    font-size: large;
}

ul {
    color: whitesmoke;
    font-size: large;
    list-style-type: circle;
    
}
span.suppose {
    text-indent: 30px;
}

div.yourgardensections {
    color: whitesmoke;
    font-size: 2em;
    text-decoration: whitesmoke underline dotted;
}

p#listintro {
    color: whitesmoke;
}

ol {
    color: whitesmoke;
    
}

p#seedpackettext {
    color: whitesmoke;
    text-align: center;
}
img#seedpacket {
    width: 350px;
    border: 2px solid whitesmoke;
    padding: .5em;   
}
p {
    color: whitesmoke;
    text-indent: 30px;
}

div.ferts {
    width: 200px;
    border: 2px solid whitesmoke;
    padding: .5em;
    float: right;
    align-content: center;
}

img#shake {
    width: 100%;
}

img#stick {
    width: 100%;
}
div.journalheadings {
    color: whitesmoke;
    font-size: x-large;
    text-indent: 30px;
}

p#journal {
    color: whitesmoke;
    text-align: center;
    font-weight: 800;
    text-decoration: dotted underline;
    font-size: xx-large;
}

div.journalintro {
    color: whitesmoke;
    font-size: x-large;
    text-indent: 30px;
}
div.april29 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
   margin-top: 3em;
   margin-bottom: 3em;
}

img#april29lil {
    transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  width: 100%;
  border: solid whitesmoke;
  padding: .5em;
  
}

img#april29sun {
    transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  width: 100%;
  border: solid whitesmoke;
  padding: .5em;
}

table#april29table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


div.may1 {
    width: 75%;
    margin-top: 1em;
    margin-bottom: 1em;
}

img#may1lil {
    width: 100%;
    border: solid whitesmoke;
    padding: .5em;
}

img#may1cuc {
    width: 100%;
    border: solid whitesmoke;
    padding: .5em;
}

img#may1sun {
    width: 100%;
    border: solid whitesmoke;
    padding: .5em;
}

table#may1table {
   
    margin-right: auto;
    margin-left: auto;
    border-spacing: 2em;
}

img#may3lilies {  
    transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  width: 100%;
}

div.may3 {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    border: solid whitesmoke;
    padding: .5em;
    align-content: center;
    text-align: center;
}

div.journalentry {
    color: whitesmoke;
}

table#may5table {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

div.may5 {
    width: 75%;
    border: whitesmoke solid;
    padding: .5em;
    border-spacing: 1em;
}

img#may5liliesj {
    width: 100%;
}

img#may5chives {
    width: 100%;
}

img#may5cuctransfer {
    width: 100%;
}

img#may5cuc {
    width: 100%;
}

table#may11table {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

div.may11 {
    width: 75%;
    border: whitesmoke solid;
    padding: .5em;
    border-spacing: 1em;
}


img#may11cuc {
    width: 75%;
}

img#may11sunflower {
    width: 100%;
}

img#mixedflowers {
    width: 100%;
}


div.yglinks {
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgba(253, 245, 230, 0.824);
}

p#links {
    font-size: 1.3em;
    text-align: center;
    margin-top: 3em;
}

p#titleofmites {
    font-size: 2.5em;
    text-decoration: dotted underline;
    color: whitesmoke;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

a {
    color: papayawhip;
    font-weight: 600;
}

a link :hover {
    color: midnightblue;
}

img#suc1 {
    width: 400px;
    border: 2px solid whitesmoke;
    padding: .5em;
    background-color: rgb(8, 96, 8);
}

img#suc2 {
    transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  margin-top: 5em;
  margin-bottom: 5em;
  width: 550px;
  border: 2px solid whitesmoke;
  padding: .5em;
  background-color: rgb(7, 164, 127);
}

img#mother {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    margin-top: 5em;
  margin-bottom: 5em;
  width: 550px;
  border: 2px solid whitesmoke;
  padding: .5em;
  background-color: rosybrown;
}

p#succap {
    margin-top: 1.5em;
    text-align: center;
    color: whitesmoke;
    font-weight: 800;
    font-size: large;
}

p#titleofgreensboro {
    font-size: 2.5em;
    text-decoration: dotted underline;
    color: whitesmoke;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

p#introtoplaces {
    color: whitesmoke;
    font-size: x-large;
    text-align: center;
}

div.places {
    font-size: x-large;
    color: whitesmoke;
    text-align: center;
    font-weight: bolder;
    padding: 1em;
}

div#local {
    outline-color: yellow;
    outline-width: thick;
    color: whitesmoke;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
padding: 1em;
text-decoration: underline wavy;
}

div.maps {
    align-content: center;
    text-align: center;
    padding: 1em;
}












@media(max-width:750px) { /*these rules take effect when the viewport is small*/
    header {
        display: flex;
        height: 4em;
        justify-content: space-evenly;
        align-items: center;
        margin-left: 2em;
        margin-right: 2em;
        border: white 2px solid;
        font-size: medium;
        background-color: rgba(198, 235, 206, 0.637);
    }

    div.menu {
        width: fit-content;
        font-size: large;
        color: white;
        
    }

    div.journalintro {
        font-size: large;
    }
    
    body {
        font-size: medium;
    }

    p#titleofgallery {
        font-size: 2em;
    }

    img#may5lilies {
        width: 200px;
    }

    img#may2cuc {
        width: 200px;
    }

    img#suc1 {
        width: 200px;
    }

    img#suc2 {
        width: 300px;
    }

    img#mother {
        width: 350px;
    }
    img#seedpacket {
        width: 200px;
    }

   ul {
       font-size: medium;
       list-style: disc;
   }

    div.ferts {
        width: 100px;
    }

    div.maps {
        width: 100px;
        margin-right: 1em;
        position: relative;
        
    }

    a {
        color: rgb(64, 85, 64);
        font-weight: 600;
    }

    

    }
    




    @media screen and (orientation: portrait) {
        body {
            background-color: rgba(35, 119, 52, 0.749);
            border-color: yellowgreen;
            border-style: dashed;
        }
    }

